<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>首页</title>
    <link href="~/Content/Bootstrap/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Content/Bootstrap/bootstrap.min.js"></script>
</head>
<body>
    <p><a href="/Shi/Index">DOS.ORM</a></p>
    <p><a href="/Shi/GetIdInfo">获取身份证信息</a></p>
    <p><a href="/Shi/LoginLocation">根据ip获取地址</a></p>
    <p><a href="/Shi/UploadFile">上传文件</a></p>
    <p><a href="/Shi/UploadJianliRead">上传后读取</a></p>
    <p><a href="/Shi/WebMusic163">音乐不刷新</a></p>
    <p><a href="/Shi/MySqlTest">mySQL</a></p>
    <p><a href="/Shi/UploadFiles" class="btn btn-default">上传多个文件</a></p>
    <p><a href="/Shi/RandomOrg" class="btn btn-default">真随机数---></a>||<a href="https://www.random.org/clients/http/">Random.org</a></p>
</body>
</html>

